<div class="row mt-5">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of user$|async">
          <td>{{ user.id }}</td>
          <td>{{ user.name}}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.category }}</td>
          <td>
            <div role="group" class="btn-group">
              <button type="button" [routerLink]="['/users/edit', user.id]" class="btn btn-info"><i class="fa fa-edit"></i></button>
              <button (click)="onDelete(user)" type="button"  class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
